<app-toolbar title="Edycja treningu"></app-toolbar>
<section class="page-content">

  <mat-form-field appearance="fill" class="select--full">
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option *ngFor="let exercise of exerciseTypes" [value]="exercise.id">
        {{exercise.name}}
      </option>
    </select>
  </mat-form-field>

  <div class="add-exercises">
    <div class="add-exercises__row">
      <div class="add-exercises__series"></div>
      <div class="add-exercises__reps">
        Powtórzenia
      </div>
      <div class="add-exercises__weight">
        Ciężar
      </div>
      <div class="add-exercises__action">
        Zatwierdź
      </div>
    </div>


    <div class="add-exercises__row">
      <div class="add-exercises__series">
        1
      </div>
      <div class="add-exercises__reps">
        <input type="number">
      </div>
      <div class="add-exercises__weight">
        <input type="number">
      </div>
      <div class="add-exercises__action">
        <button mat-stroked-button>
          <mat-icon>checked</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <footer class="add-exercises__footer">
  <button mat-stroked-button>Dodaj serię</button>
  </footer>
</section>
