<div class="edit-training-component" *ngIf="training">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar__back">
      <button routerLink="user-profile/dashboard" mat-icon-button aria-label="Wstecz">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <span class="toolbar__title"><span>{{ training.name }}</span></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="removeTraining(training.id)">
        <mat-icon>delete</mat-icon>
        Usuń trening
      </button>
    </mat-menu>
  </mat-toolbar>

  <section class="page-content">
    <mat-form-field class=full-width>
      <mat-label>Ustaw nazwę treningu</mat-label>
      <input matInput [(ngModel)]="training.name" (focusout)="changeTrainingName($event)">
    </mat-form-field>
    <mat-form-field class="select--full">
      <mat-label>Cwiczenie</mat-label>
      <select matNativeControl #t required (change)="changeExercise(t.value)">
        <option *ngFor="let exercise of exerciseTypes" [value]="exercise.id">
          {{exercise.name}}
        </option>
      </select>
    </mat-form-field>
    <app-exercise [exerciseId]="exerciseId" [trainingId]="training.id"></app-exercise>
  </section>
  <footer class="app-bottom-menu">

    <button mat-flat-button color="primary" (click)="finishWorkout(training.id)">Zakończ trening</button>
  </footer>
</div>

