<form class="modal">
  <header class="bug-modal__header modal__header">
    <h1 class="bug-modal__title modal__title">Zgłoś buga</h1>
  </header>

  <section class="bug-modal__section modal__section">
    <div class="bug-modal__content modal__content">
      <mat-form-field class="bug-modal__textarea">
        <label for="description">Opisz problem</label>
        <textarea id="description"
                  matInput
                 cdkTextareaAutosize
                 #autosize="cdkTextareaAutosize"
                 cdkAutosizeMinRows="1"
                 cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
  </section>

  <footer class="bug-modal__footer modal__footer">
    <button mat-button mat-dialog-close >{{ 'CANCEL' | translate }}</button>
    <button mat-button>Zgłoś</button>
  </footer>
</form>
