<form class="auth-page__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h1 class="auth-page__title">Resetuj hasło</h1>

  <div class="form-group">
    <mat-form-field class="auth-page__form-field">
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input type="email" matInput [placeholder]="'EMAIL' | translate" formControlName="email" autofocus>
      <mat-error *ngIf="err?.email">
        {{ err?.email }}
      </mat-error>
    </mat-form-field>
  </div>
  <footer class="auth-page__form-footer">
    <button mat-button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
      Zresetuj hasło
    </button>
  </footer>
</form>

