.app-bottom-menu {
  display: flex;
  justify-content: flex-end;
}

.edit-training {
  display: flex;
  flex-direction: column;

  &--exercises {
    height: calc(100% - 84px);
    overflow: auto;
    padding-top: calc(48px + 1rem);
    padding-bottom: 0;
  }
}

.choose-exercise {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    color: var(--font-color);
    border: 0;
    text-transform: capitalize;
    position: relative;
    z-index: 5;
  }

  .select--full {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    z-index: 4;
  }
}

.finish-workout {
  display: flex;
  opacity: 0.5;

  button {
    margin-left: 0.5rem;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

.save-info-training {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}