<div class="edit-training-component" *ngIf="training">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar__back">
      <button (click)="back()" mat-icon-button aria-label="Wstecz">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <span class="toolbar__title"><span>{{ training.name }}</span></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="mat-menu-item" routerLink="/dashboard/training/{{ training.id }}">
        <mat-icon>assignment</mat-icon>
        Podsumowanie treningu
      </button>
      <button mat-menu-item (click)="openAddExerciseModal()">
        <mat-icon>add</mat-icon>
        Dodaj ćwiczenie
      </button>
      <button mat-menu-item (click)="removeTraining(training.id)">
        <mat-icon>delete</mat-icon>
        Usuń trening
      </button>
    </mat-menu>
  </mat-toolbar>

  <section class="page-content">
    <mat-form-field class="full-width-input">
      <mat-label>Ustaw nazwę treningu</mat-label>
      <input matInput [(ngModel)]="training.name" (focusout)="changeTrainingName($event)">
    </mat-form-field>

    <div class="body-parts__container">
      <div class="body-parts">
        <ng-container *ngFor="let bodyPart of bodyParts">
          <button mat-button (click)="filterExercises(bodyPart.id)">{{ bodyPart.name }}</button>
        </ng-container>
      </div>
    </div>

    <mat-form-field class="select--full">
      <mat-label>Cwiczenie</mat-label>
      <select matNativeControl #t required (change)="changeExercise(t.value)" [(ngModel)]="selectedOption">
        <option value=""></option>
        <option *ngFor="let exercise of exerciseTypes" [value]="exercise.id">
          {{exercise.name}}
        </option>
      </select>
    </mat-form-field>
    <app-exercise *ngIf="exerciseId !== 0" [exerciseId]="exerciseId" [trainingId]="training.id"></app-exercise>
  </section>
  <footer class="app-bottom-menu">

    <button mat-flat-button color="primary" (click)="finishWorkout(training.id)">Zapisz zmiany</button>
  </footer>
</div>

