.app-bottom-menu {
  display: flex;
  justify-content: flex-end;
}

.edit-training {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--exercises {
    height: calc(100% - 68px);
  }
}

.choose-exercise {
  display: flex;
  align-items: center;

  button {
    margin-left: 0.5rem;
    background-color: transparent;
    color: var(--font-color);
    border: 0;
    text-transform: capitalize;
  }
}

.finish-workout {
  display: flex;
  opacity: 0.5;
}
