<ng-container *ngIf="training">

  <button mat-icon-button class="quick-menu" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="saveWorkout(training.id)">
      <mat-icon>save</mat-icon>
      <span>Zapisz trening</span>
    </button>
    <mat-divider></mat-divider>
    <button class="mat-menu-item" (click)="toggleImageForm()">
      <mat-icon>image</mat-icon>
      <span>Dodaj zdjęcie do treningu</span>
    </button>
    <button class="mat-menu-item" routerLink="/dashboard/training/{{ training.id }}">
      <mat-icon>assignment</mat-icon>
      <span>Podsumowanie treningu</span>
    </button>
    <button mat-menu-item (click)="openAddExerciseModal()">
      <mat-icon>add</mat-icon>
      <span>Dodaj ćwiczenie</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="warn" (click)="removeTraining(training.id)">
      <mat-icon>delete</mat-icon>
      <span>Usuń trening</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Wyloguj</span>
    </button>
  </mat-menu>
  <app-exercise-progress [data]="{exerciseId: exerciseId, trainingId: training.id}"></app-exercise-progress>
  <div class="standard-page edit-training edit-training--exercises">
    <div>
      <app-training-image *ngIf="showUploadImageForm" [training]="training"></app-training-image>
      <!--    <mat-form-field class="full-width-input">-->
      <!--      <mat-label>Ustaw nazwę treningu</mat-label>-->
      <!--      <input matInput [(ngModel)]="training.name" (focusout)="changeTrainingName($event)">-->
      <!--    </mat-form-field>-->
        <div class="choose-exercise">
          <button [matMenuTriggerFor]="exerciseMenu">
            <mat-icon>format_list_bulleted</mat-icon>
          </button>
          <mat-menu #exerciseMenu="matMenu">
            <button mat-menu-item (click)="clearFilters()">Wszystkie partie</button>

            <ng-container *ngFor="let bodyPart of bodyParts">
              <button mat-menu-item (click)="filterExercises(bodyPart.id)">{{ bodyPart.name }}</button>
            </ng-container>
          </mat-menu>
          <mat-form-field class="select--full">
            <select matNativeControl #t required placeholder="Wybierz ćwiczenie z listy poniżej"
                    (change)="changeExercise(t.value)"
                    [(ngModel)]="selectedOption">
              <option *ngFor="let exercise of exerciseTypes" [value]="exercise.id">
                {{exercise.name}}
              </option>
            </select>
          </mat-form-field>
        </div>
      <app-exercise *ngIf="exerciseId !== 0" [bodyPartId]="bodyPartId" [exerciseId]="exerciseId"
                    [trainingId]="training.id"></app-exercise>
    </div>

    <div *ngIf="!training.end" class="finish-workout" (click)="finishWorkout(training.id)">
      <p>Trening nie został jeszcze zakończony</p>
      <button>Zakończ trening</button>
    </div>

  </div>
</ng-container>
