<img class="add-run__image" src="assets/images/run.gif" alt="">

<div class="add-run__footer">
  <button (click)="startRun()" *ngIf="!sending" mat-button color="primary">
    <mat-icon>location_on</mat-icon>
    Turn on gps
  </button>
  <button (click)="stopRun()" *ngIf="sending" mat-button color="secondary">
    <mat-icon>location_off</mat-icon>
    Turn off gps
  </button>
  <a routerLink="/dashboard/map" mat-button color="primary">
    <mat-icon>explore</mat-icon>
    map</a>
</div>

<form class="form add-run" [formGroup]="runForm" (ngSubmit)="addRun()">
  <div class="add-run__data">
    <mat-form-field class="form__group">
      <mat-label>Typ</mat-label>
      <select matNativeControl formControlName="type" name="" id="">
        <option value="0">Bieg</option>
        <option value="1">Jazda rowerem</option>
        <option value="2">Orbitrek</option>
      </select>
    </mat-form-field>
    <div class="add-run__row">
      <mat-form-field class="form__group">
        <mat-label>Minut</mat-label>
        <input matInput type="number" min="1" id="minutes" class="add-run__input form__input" name="minutes"
               formControlName="minutes" required>
      </mat-form-field>

      <mat-form-field class="form__group">
        <mat-label>Sekund</mat-label>
        <input matInput type="number" min="0" max="59" id="seconds" class="add-run__input form__input" name="seconds"
               formControlName="seconds" required>
      </mat-form-field>
    </div>
    <mat-form-field class="form__group">

      <mat-label>Dystans</mat-label>
      <input matInput type="number" name="distance" id="distance" class="add-run__input form__input"
             formControlName="distance" required>
      <span matSuffix>km</span>
    </mat-form-field>
  </div>

  <footer class="form__footer add-run__footer">
    <span></span>
    <button mat-raised-button color="primary" [disabled]="!runForm.valid">Zapisz</button>
  </footer>

</form>


<section class="run-component">

</section>
