.training-list {

  &__status {
    white-space: nowrap;
  }

  &__status-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .mat-expansion-panel-header-title {
    flex: 1 1 auto;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 1;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
