<mat-accordion class="training-list">
  <mat-expansion-panel *ngFor="let training of trainings">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ training.name }}
      </mat-panel-title>
      <mat-panel-description>
        <span class="training-list__status" [matTooltip]="'TRAINING_IS_NOT_FINISHED_YET' | translate">
         <mat-icon class="training-list__status-icon">{{ !training.end ? 'hourglass_bottom' : '' }}</mat-icon>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="training-list__data">
      <div class="training-list__stats">

        <span class="training-list__data-item" *ngIf="training.total">
          <mat-icon>stacked_bar_chart</mat-icon>
          <span>{{ training.total / 1000 | round: 2 }}&nbsp;{{ 'TONS' | translate}}</span>
        </span>
        <br>
        <span class="training-list__data-item" *ngIf="training.time">
          <mat-icon>av_timer</mat-icon>
          <span>{{training.time}}min.</span>
        </span>
      </div>
      <div class="training-list__buttons">
        <button mat-button color="primary" routerLink="/dashboard/training/{{ training.id }}">
        {{ 'DETAILS' | translate }}
        </button>

        <button *ngIf="!training.end" mat-button color="primary" routerLink="/dashboard/training/{{ training.id }}/edit">
          {{ 'EDIT' | translate }}
        </button>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
