<mat-accordion class="training-list">
  <mat-expansion-panel *ngFor="let training of trainings">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ training.name }}
      </mat-panel-title>
      <mat-panel-description>
        <span class="training-list__status" matTooltip="Trening nie został jeszcze zakończony">
         <mat-icon class="training-list__status-icon">{{ !training.end ? 'hourglass_bottom' : '' }}</mat-icon>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="training-list__data">
      <div>
      <span *ngIf="training.total">łączny ciężar: <strong>{{ training.total }}</strong></span>
      </div>
      <button mat-button color="primary" routerLink="/dashboard/training/{{ training.id }}}">
        zobacz
      </button>

    </div>

  </mat-expansion-panel>
</mat-accordion>
