<nav *ngIf="user">
  <button routerLink="profile/{{ user.id }}" matRipple>
    <img [src]="USER_IMAGE" alt="">
  </button>
  <button routerLink="/dashboard" matRipple>
    <mat-icon>home</mat-icon>
  </button>

  <button routerLink="stats/{{ user.id }}" matRipple>
    <mat-icon>assessment</mat-icon>
  </button>

  <button (click)="addTraining()" matRipple>
    <mat-icon>add_box</mat-icon>
  </button>

  <button (click)="back()" matRipple>
    <mat-icon>chevron_left</mat-icon>
  </button>
</nav>
