<nav >
  <button routerLink="/dashboard/profile/{{ user?.id }}" matRipple>
    <img [src]="USER_IMAGE" alt="">
  </button>
  <button routerLink="/dashboard" matRipple>
    <mat-icon>home</mat-icon>
  </button>

  <button routerLink="/dashboard/stats{{ user?.id }}" matRipple>
    <mat-icon>assessment</mat-icon>
  </button>

  <button (click)="addTraining()" matRipple>
    <mat-icon>add_box</mat-icon>
  </button>

    <mat-slide-toggle
      color="primary"
      [checked]="isDarkMode"
      (change)="onDarkModeSwitched($event)"
    ></mat-slide-toggle
    >
  <ng-content></ng-content>
</nav>
