.progress {
  width: 100%;
  overflow: hidden;
  height: 48px;
  display: flex;
  position: relative;
  background-color: rgba(255, 2555, 255, 0.05);

  &__bar {
    background-color: #ff9800;
    background-image: linear-gradient(to right, #ff9800 0%, #ab6600 100%);

    &--finished {
      background-image: none;
      background-color: #43a047;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    font-size: 14px;
    font-weight: 300;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__values {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    font-size: 12px;
    height: 20px;
    position: relative;
    top: -5px;
  }

  &__total,
  &__total-2{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--primary-color);
    display: inline-block;
    position: fixed;
    left: 0;
    font-size: 12px;
    bottom: 58px;
    min-width: calc(42px + 2rem);
    border: 0;
    color: var(--text-color);
  }

  &__total-2 {
    left: unset;
    right: 0;
  }
}
