<div class="stats" *ngIf="stats && stats.trainings > 0">
  <header class="stats__header">
    <h1>Gratuacje, <strong>{{ stats.username }}</strong>&nbsp;!</h1>
  </header>
  <h2>Udało Ci się podnieść</h2>
  <h2><strong> {{ stats.total / 1000 | round : 2 }} ton !</strong></h2>
  <h3>(to tyle co {{ stats.total / 1000 / 35 | round }} czołgów T55 💪)</h3>
  <h3>w trakcie<br>{{ stats.trainings }} treningów</h3>
  <h3>oraz przebiec</h3>
  <h3>{{ stats.runMeters / 1000}}km w {{stats.runSeconds / 3600 | round:2}}godzin</h3>
  <h3>czyli {{stats.runMeters / 9 | round: 2 }} długości czołgu T55 </h3>
  <div class="run-total">
    <img src="/assets/images/earth.png" alt="">
    <div>
      Przemierzyłeś<br><strong>{{ stats.runMeters / 40000000 }}</strong> długości ziemi
    </div>
  </div>
  <h3>Ostatni streak: {{ stats.streak }} dni</h3>
</div>

<div class="stats" *ngIf="stats && stats.trainings == 0">
  <p class="empty-results">
    Dodaj i zakończ swój pierwszy trening a w tym miejscu pojawi się jego podsumowanie
  </p>
</div>
