<div class="stats" *ngIf="stats">

  <header class="stats__header">
    <img class="stats__user-image" [src]="profileService.getUserAvatar()" alt="{{ stats.username }}">
    <h1>Gratuacje, <strong>{{ stats.username }}</strong>&nbsp;!</h1>
  </header>
  <h2>Udało Ci się podnieść</h2>
  <h2><strong> {{ stats.total / 1000 | round : 2 }} ton !</strong></h2>
  <h3>(to tyle co {{ stats.total / 1000 / 35 | round }} czołgów T55 💪)</h3>
  <h2>w trakcie<br>{{ stats.trainings }} treningów od {{stats.training_days}} dni</h2>
</div>
