:host {
  height: 0;
  overflow: hidden;
  display: block;
  opacity: 0;
  transition: all 0.4s ease-in-out;

  &.displayed {
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    opacity: 1;
  }
}

.stats {
  padding: 2rem;
  height: 100%;
  overflow: auto;
  z-index: 12;
  color: #fff;
  background: url('/assets/images/stats-bg.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: relative;

  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
  }

  * {
    position: relative;
    z-index: 3;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 2.2em;
      line-height: 1.1;

      strong {
        font-weight: 600;
      }
    }
  }

  &__user-image {
    width: 84px;
    height: 84px;
    min-width: 84px;
    min-height: 84px;
    margin-right: 2rem;
    border-radius: 50%;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;

    strong {
      font-weight: 600;
    }
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
}

.run-total {
  display: flex;
  text-align: center;
  align-items: center;
  margin-block: 1rem;

  > div {
    flex: 1 1 auto;
    text-align: center;
  }

  img {
    width: 80px;
    margin-right: 0.5rem;
  }
}
