.block-table {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.cdk-column-reps {
  padding: 0 0.5rem !important;
}

.user-image-container {
  img {
    max-width: 100%;
    max-height: calc(50vh - 100px);
    display: block;
    margin: auto;
  }
}

.training-component {
  padding: calc(48px + 0.5rem) 0.5rem 0.5rem;

  &__description {
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.user-image-container {
  margin: -1rem -1rem 2rem -1rem;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);

  img {
    object-fit: contain;
    display: block;
    width: 100%;
  }

  &:focus {
    img {
      object-fit: cover;
    }
  }
}
