.block-table {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.cdk-column-reps {
  padding: 0 0.5rem !important;
}

.user-image-container {
  img {
    max-width: 100%;
    max-height: calc(50vh - 100px);
    display: block;
    margin: auto;
  }
}

.training-component {
  padding: calc(48px + 0.5rem) 0.5rem 0.5rem;

  &__description {
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.short-summary {
  padding: 0 0 0.5rem;
}

.training-description {
  padding: 0;
  list-style: none;
  font-size: 12px;
}
