<ng-container *ngIf="training">
    <button class="quick-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!training.end" class="mat-menu-item" routerLink="/dashboard/training/{{ training.id }}/edit">
        <mat-icon>edit</mat-icon>
        Edycja treningu
      </button>
      <button mat-menu-item (click)="removeTraining(training.id)">
        <mat-icon>delete</mat-icon>
        Usuń trening
      </button>
    </mat-menu>


  <div class="standard-page">
    <div class="user-image-container" *ngIf="training.user_image">
      <img [src]="ASSETS_URL + training.user_image" alt="">
    </div>

    <div class="training-time">
      <p><mat-icon>query_builder</mat-icon>Start: <span>{{training.start | slice: 11}}</span></p>
      <p *ngIf="training.end"><mat-icon>query_builder</mat-icon>Koniec: <span>{{training.end | slice: 11}}</span></p>
    </div>

    <section class="short-summary" *ngIf="training.end">
      Lacznie na tym treningu: {{ training.total }}kg
    </section>

    <div>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <table mat-table [dataSource]="dataSource" class="block-table table-striped">

      <ng-container matColumnDef="name">
        <td mat-footer-cell *matFooterCellDef></td>
        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
        <th mat-header-cell *matHeaderCellDef> N</th>
      </ng-container>

      <ng-container matColumnDef="weight">
        <td mat-footer-cell *matFooterCellDef></td>
        <td mat-cell *matCellDef="let element"> {{element.weight}} x </td>
        <th mat-header-cell *matHeaderCellDef> C</th>
      </ng-container>

      <ng-container matColumnDef="reps">
        <td mat-footer-cell *matFooterCellDef></td>
        <td mat-cell *matCellDef="let element"> {{element.reps}} </td>
        <th mat-header-cell *matHeaderCellDef> P</th>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="{{ row }}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <div class="training-component__description">

  </div>
  </div>
</ng-container>

<app-bottom-nav></app-bottom-nav>
