<ng-container *ngIf="training">
  <button class="quick-menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!training.end" class="mat-menu-item" routerLink="/dashboard/training/{{ training.id }}/edit">
      <mat-icon>edit</mat-icon>
      Edycja treningu
    </button>
    <button mat-menu-item (click)="removeTraining(training.id)">
      <mat-icon>delete</mat-icon>
      Usuń trening
    </button>
  </mat-menu>


  <div class="standard-page">
    <app-training-image [training]="training" *ngIf="training.end == null"></app-training-image>
    <table mat-table
           *ngIf="dataSource && dataSource.length > 0"
           [dataSource]="dataSource" multiTemplateDataRows>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa</th>
        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total</th>
        <td mat-cell *matCellDef="let element"> {{element.total}}&nbsp;kg</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ul class="single-exercise-details">
              <ng-container *ngFor="let el of training.exercises">
                <li *ngIf="element.series_type_id == el.type.id">
                  {{ el.reps }} x {{ el.weight }}kg
                </li>
              </ng-container>
            </ul>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <div class="loading" *ngIf="!dataSource">
      <mat-spinner [diameter]="32"></mat-spinner>
    </div>

    <div *ngIf="dataSource && dataSource.length === 0" style="text-align: center">
      Nie dodałeś żadnych serii w treningu <strong>{{ training.name }}</strong>.️
    </div>

  </div>
</ng-container>

<app-bottom-nav></app-bottom-nav>
