<div class="add-exercises">
  <form action="" [formGroup]="exerciseForm" (ngSubmit)="onSubmit(exerciseForm)" #addSeriesForm>
    <div class="add-exercises__row">
      <div class="add-exercises__series"></div>
      <div class="add-exercises__reps">
        Powtórzenia
      </div>
      <div class="add-exercises__weight">
        Ciężar
      </div>
      <div class="add-exercises__action">
        Zatwierdź
      </div>
    </div>


    <div class="add-exercises__row">
      <div class="add-exercises__series">
        {{ series.length + 1 }}
      </div>
      <div class="add-exercises__reps">
        <input type="number" name="reps" formControlName="reps" #myInput required autofocus>
      </div>
      <div class="add-exercises__weight">
        <input type="number"  formControlName="weight" required>
      </div>
      <div class="add-exercises__action">
        <button mat-stroked-button (click)="myInput.focus()" [disabled]="!exerciseForm.valid">
          <mat-icon>checked</mat-icon>
        </button>
      </div>
    </div>

    <div class="add-exercises__row" *ngFor="let ser of series; let index = index">
      <div class="add-exercises__series">
        {{ series.length - index  }}
      </div>
      <div class="add-exercises__reps">
        {{ ser.reps }}
      </div>
      <div class="add-exercises__weight">
        {{ ser.weight }}
      </div>
      <div class="add-exercises__action">
        <button mat-stroked-button color="warn" type="button" (click)="removeExercise(ser.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </form>
</div>
<div class="empty-results" *ngIf="series.length == 0">
  <mat-icon>report_problem</mat-icon>
  Brak dodanych serii
</div>

<div class="add-exercises">


      <section class="stats-et" *ngIf="average">
        <div>
          Obecny ciezar w wybranym ćwiczeniu: <strong>{{averageForSeries}}kg</strong><br>
          <span class="average">
            Bilans treningu dla obecnego ćwiczenia
            <strong [ngClass]="{'greater' : (average[0] - averageForSeries) < 0 }">{{ -(average[0] - averageForSeries) }}kg</strong>
          </span><br>

          Srednia dla cwiczenia: <strong>{{average[0]}}kg</strong><br>
        </div>
        <hr>
        <div class="total">
          Obecny ciężar podniesiony na treningu: <strong>{{ total }}</strong><br>
        </div>
      </section>
    </div>
