
.add-exercises {
  max-width: 100%;

  &__exercise-data-input-component {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 192px;
  }

  &__type-weight {
    font-size: 0.8em;
  }

  &__weight-type {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 29px;
    opacity: 0.3;
    transform: translateX(100%);
    border: 0;
    background-color: transparent;
    color: var(--font-color);
    text-transform: lowercase
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    overflow: hidden;

    button {
      background-color: transparent !important;
    }

    &--past {
      background-color: rgba(255, 255, 255, 0.02);
      opacity: 0.2;

      &:nth-child(1) {
        opacity: 0.9;
      }

      &:nth-child(2) {
      opacity: 0.8;
      }

      &:nth-child(3) {
        opacity: 0.7;
      }

      &:nth-child(4) {
        opacity: 0.6;
      }

      &:nth-child(5) {
        opacity: 0.5;
      }

      &:nth-child(6) {
        opacity: 0.4;
      }


      &:nth-child(7) {
        opacity: 0.3;
      }
    }

    &--best {
      opacity: 1 !important;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__series {
    width: 20px;
    font-size: 0.8em;
  }

  &__reps,
  &__weight {
    font-size: 12px;
    text-align: center;
    width: 90px;
    position: relative;
  }

  &__one-field {
    width: 192px;
  }


  input[type=number],
  input[type=text] {
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
    padding: 6px;
  }

  input[type=text] {
    width: 196px;
  }

  &__footer {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  input[type=number].ng-invalid.ng-touched,
  input[type=text].ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

.edit-training-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-content {
    flex: 1 1 auto;
  }
}

.full-width {
  width: 100%;
  display: block;
}


.average {
  strong {
    color: red;

    &.greater {
      color: green;
    }
  }
}
