
.add-exercises {
  max-width: 100%;

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0.75rem;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    overflow: hidden;

    &--best {
      &::after {
        content: '';
        width: 4px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: green;
        display: block;
      }
    }

    &--past {
      background-color: rgba(255, 255, 255, 0.005);
      color: rgba(255, 255, 255, 0.4);

      &:nth-child(1) {
        background-color: rgba(255, 255, 255, 0.04);
        color: rgba(255, 255, 255, 0.9);
      }

      &:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.03);
        color: rgba(255, 255, 255, 0.8);
      }

      &:nth-child(3) {
        background-color: rgba(255, 255, 255, 0.02);
        color: rgba(255, 255, 255, 0.7);
      }

      &:nth-child(4) {
        background-color: rgba(255, 255, 255, 0.01);
        color: rgba(255, 255, 255, 0.6);
      }

      &:nth-child(5) {
        background-color: rgba(255, 255, 255, 0.005);
        color: rgba(255, 255, 255, 0.5);
      }

    }


  }

  &__series {
    width: 20px;
  }

  &__reps,
  &__weight {
    font-size: 14px;
    text-align: center;
    width: 90px;
  }


  input[type=number],
  input[type=text] {
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
    padding: 6px;
  }

  input[type=text] {
    width: 196px;
  }

  &__footer {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  input[type=number].ng-invalid.ng-touched,
  input[type=text].ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

.edit-training-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-content {
    flex: 1 1 auto;
  }
}

.full-width {
  width: 100%;
  display: block;
}


.average {
  strong {
    color: red;

    &.greater {
      color: green;
    }
  }
}
