<mat-tab-group *ngIf="trainings" class="training-list-tabs" [selectedIndex]="activeTab">
  <mat-tab>
    <ng-template mat-tab-label>
      Dashboard
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-component">
        <div class="dashboard-section">
          <strong>Dobrze Cie widzieć!</strong>
          <img src="/assets/images/dashboard.png" alt="">
          <button (click)="createTraining()" mat-stroked-button color="primary">Utwórz nowy trening</button>
          <ng-container *ngIf="trainings[0].id">
            <span>lub</span>
            <a routerLink="/dashboard/training/{{ trainings[0].id }}/edit" mat-stroked-button color="primary">przejdź do
              ostatniego ({{ trainings[0].name }})</a>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Stats
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <app-stats></app-stats>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Lista
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <app-training-list [trainings]="trainings" class="training-list-tabs__tab-component"></app-training-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Aktywność dystansowa
    </ng-template>
    <ng-template matTabContent>

      <div class="training-list-tabs__tab-content">
        <app-runs class="training-list-tabs__tab-component"></app-runs>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Kalendarz
    </ng-template>
    <ng-template matTabContent>

      <app-calendar class="training-list-tabs__tab-component" [trainings]="trainings"></app-calendar>
    </ng-template>
  </mat-tab>

  <!--  <mat-tab>-->
  <!--    <ng-template mat-tab-label>-->
  <!--      Twoje treningi-->
  <!--    </ng-template>-->
  <!--    <ng-template matTabContent>-->

  <!--      <button routerLink="">Dodaj predefiniowany trening</button>-->
  <!--    </ng-template>-->
  <!--  </mat-tab>-->


</mat-tab-group>
