<mat-tab-group headerPosition="below" mat-stretch-tabs  class="training-list-tabs"
               [selectedIndex]="activeTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>space_dashboard</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <div class="training-list-tabs__tab-component">
          <div class="dashboard-section">
            <strong>Dobrze Cie widzieć!</strong>
            <div class="dashboard-section__image">
              <img src="/assets/images/dashboard.png" alt="">
            </div>
            <ng-container *ngIf="training">
              <ng-container *ngIf="training.end === null">
              <a routerLink="/dashboard/training/{{ training.id }}/edit" mat-stroked-button color="primary">przejdź
                do ({{ training.name }})</a>
              <small style="top: -0.8rem; position: relative;">Utworzony {{ training.start | timeago:live}}</small>


              <span>lub</span>
              </ng-container>
              <ng-container *ngIf="training.end !== null">
               <small>Ostatni trening zakończyłeś <strong>{{ training.end | timeago:live}}</strong></small>

              </ng-container>
            </ng-container>

            <section  *ngIf="!training" class="empty-trainings">
              <p>Troche tu pusto co nie?</p>
              <p>Dodaj swój pierwszy trening a wszystko sie zmieni 😍</p>
              <p>Dodatkowo zachęcam do zerknięcia w ustawienia (kiedyś będą działać)</p>
            </section>

            <button (click)="createTraining(training?.id || 0)" mat-stroked-button color="primary">Utwórz nowy
              trening
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="training">
    <ng-template mat-tab-label>
      <mat-icon>query_stats</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <app-stats></app-stats>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="training">
    <ng-template mat-tab-label>
      <mat-icon>view_list</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <app-training-list class="training-list-tabs__tab-component"></app-training-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="training">
    <ng-template mat-tab-label>
      <mat-icon>directions_run</mat-icon>
    </ng-template>
    <ng-template matTabContent>

      <div class="training-list-tabs__tab-content">
        <app-runs class="training-list-tabs__tab-component"></app-runs>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="training">
    <ng-template mat-tab-label>
      <mat-icon>calendar_today</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="training-list-tabs__tab-content">
        <app-calendar class="training-list-tabs__tab-component" [trainings]="trainings"></app-calendar>
      </div>
    </ng-template>
  </mat-tab>

  <!--  <mat-tab>-->
  <!--    <ng-template mat-tab-label>-->
  <!--      Twoje treningi-->
  <!--    </ng-template>-->
  <!--    <ng-template matTabContent>-->

  <!--      <button routerLink="">Dodaj predefiniowany trening</button>-->
  <!--    </ng-template>-->
  <!--  </mat-tab>-->


</mat-tab-group>
