<div class="auth-page">
<section class="page-content">
  <header class="auth-page__header">
    <a href="" mat-stroked-button routerLink="/signup">Sing up temporary button</a>
  </header>
  <img src="./assets/images/logo.jpg" class="logo" alt="">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <h2 class="h3 mb-3 text-center">Zaloguj do <strong>LENIWEJ KLUSKI</strong></h2>

    <div class="form-group">
      <label>Adres email</label>
      <input type="email" class="form-control" formControlName="email">

      <div *ngIf="err?.email" class="alert alert-danger mt-3">
        {{ err?.email }}
      </div>

      <div *ngIf="err?.password" class="alert alert-danger mt-3">
        {{ err?.password }}
      </div>
    </div>

    <div class="form-group">
      <label>Hasło</label>
      <input type="password" class="form-control" formControlName="password">

      <div *ngIf="err?.error" class="alert alert-danger mt-3">
        {{ err?.error }}
      </div>
    </div>
    <footer style="display: flex; justify-content: flex-end;">
      <button mat-button mat-raised-button color="primaru" type="submit">Zaloguj</button>

    </footer>
  </form>
</section>
</div>
