<div class="auth-page">
  <section class="auth-page__content">

    <img class="auth-page__logo" src="./assets/images/logo.png" alt="Leniwa Kluska">
    <h1 class="auth-page__title">{{ 'LOG_IN_TO' | translate }}<strong>LENIWEJ KLUSKI</strong></h1>
    <form class="auth-page__form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <div *ngIf="err?.error" class="alert alert-danger mt-3">
          {{ err?.error }}
        </div>

        <mat-form-field class="auth-page__form-field">
          <mat-label>{{ 'USERNAME' | translate }} (email)</mat-label>
          <input type="email" matInput placeholder="Login (email)" autofocus formControlName="email">
          <mat-error *ngIf="err?.email">
            {{ err?.email }}
          </mat-error>
        </mat-form-field>


      </div>

      <div class="form-group">

        <mat-form-field class="auth-page__form-field">
          <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
          <input [type]=" showPassword ? 'text' : 'password'" matInput [placeholder]="'PASSWORD' | translate" formControlName="password">
          <button type="button" class="auth-page__toggle-password-button" (click)="togglePassword()">
          <mat-icon matSuffix>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="err?.password">
            {{ err?.password }}
          </mat-error>
        </mat-form-field>

      </div>
      <footer class="auth-page__form-footer">
        <a mat-flat-button routerLink="/signup">{{ 'REGISTER' | translate }}</a>
        <button mat-button mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid">{{ 'LOG_IN' | translate }}</button>
      </footer>
    </form>

    <footer class="auth-page__footer">
      <p>Leniwa kluska - wersja bardzo developerska</p>
    </footer>
  </section>
</div>
