<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar__back">
    <button mat-icon-button aria-label="Wstecz">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <span class="toolbar__title">{{ title }}</span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      {{ 'LOGOUT' | translate}}
    </button>
  </mat-menu>

</mat-toolbar>

