@import '~@angular/material/theming';

@include mat-core();
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$frontend-warn: mat-palette($mat-red);
$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));
@include angular-material-theme($frontend-theme);

:root {
  --primary-color: #0099ff;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-content {
  padding:  48px 0.5rem 0.5rem 0.5rem;
}

.button {
  color: var(--primary-color);
}

.loader-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.select {
  &--full {
    display: block;
    width: 100%;
  }
}

*:focus,
*:active {
  outline: none !important;
}


.app-bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

// override angular material styles
body {
  max-height: 100vh;

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 0;
    text-transform: capitalize;
  }


  .mat-toolbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }

}

.toolbar {
  padding-left: 0 !important;

  &__back {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 1px dashed #fff;
    margin-right: 12px;
    display: grid;
    place-items: center;
  }

  &__title {
    display: flex;
    flex: 1 1 auto;
    font-weight: 400;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100vw - 100px);
    }
  }
}

@media screen and (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }
}


.stats {
  padding: 2rem;
  min-height: 100vh;
  color: #fff;
  background: url('assets/images/stats-bg.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
  }

  * {
    position: relative;
    z-index: 3;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.2;
  }

  h2 {
    margin-bottom: 0;
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  &__close-button {
    position: fixed !important;
    top: 1rem;
    right: 1rem;
  }
}

