@import '~@angular/material/theming';
@include mat-core();
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$frontend-warn: mat-palette($mat-red);
$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));
@include angular-material-theme($frontend-theme);

:root {
  --primary-color: #0099ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-content {
  padding: 1rem;
}

.button {
  color: var(--primary-color);
}

.loader-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.select {
  &--full {
    display: block;
    width: 100%;
  }
}

*:focus,
*:active {
  outline: none !important;
}


.app-bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}
// override angular material styles
body {
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 0;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0.25rem;
  }
}

.toolbar {
  padding-left: 0 !important;

  &__back {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 1px dashed #fff;
    margin-right: 12px;
    display: grid;
    place-items: center;
  }

  &__title {
    display: flex;
    flex: 1 1 auto;
    font-weight: 400;

  }
}

@media screen and (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }
}


