<form action="" [formGroup]="exerciseForm" (ngSubmit)="createExercise()">
  <section class="popup__content">
    <mat-form-field class="full-width-input">
      <mat-label>Nazwa ćwiczenia</mat-label>
      <input matInput placeholder="np. Martwy ciąg" required formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Partia ciała</mat-label>
      <select matNativeControl required formControlName="body_part">
        <option *ngFor="let bodyPart of bodyParts" [value]="bodyPart.id">
          {{bodyPart.name}}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Mnożnik</mat-label>
      <select matNativeControl required formControlName="multiplier">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </mat-form-field>

  </section>

  <footer class="popup__footer">
    <button mat-dialog-close mat-button color="warn">Anuluj</button>
    <button mat-button color="primary" type="submit" [disabled]="!exerciseForm.valid">Zapisz</button>
  </footer>
</form>
