<div class="standard-page">
  <div class="choose-profile-photo setting-form-section">
    <label for="">User profile photo</label>
    <input type="file" id="file" (change)="onFileChange($event)">
    <div class="setting-form-section__footer">
      <button (click)="onUpload()" color="primary" mat-raised-button>Zapisz</button>
    </div>
  </div>

  <div class="set-weight setting-form-section">

    <label for="">User weight</label>
    <input type="number" class="" [(ngModel)]="userWeight" name="user-weight">
    <div class="setting-form-section__footer">
      <button (click)="saveWeight()" color="primary" mat-raised-button>Zapisz</button>
    </div>
  </div>

  <p>Pokazuj progres w stosunku do</p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button (change)="setProgress($event)" value="0" [checked]="profile?.progress == 0">średniej wszystkich treningów</mat-radio-button>
    <mat-radio-button (change)="setProgress($event)" value="1" [checked]="profile?.progress == 1">ostatniego treningu</mat-radio-button>
  </mat-radio-group>

</div>

