:host {
  display: block;
  height: 100%;
}
.setting-form-section {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.mat-radio-button {
  margin-top: 0.5rem;
}
