.run-list {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }

  &__link {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    width: 100%;
  }

  &__image {
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-left: -1.5rem;
    width: 48px;
    height: 48px;
  }
}

.run-simple-stats {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem
  }
}

.run-total {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > div {
    flex: 1 1 auto;
    text-align: center;
  }

  img {
    width: 80px;
    margin-right: 0.5rem;
  }
}
