.add-run {
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    .mat-icon {
      margin-right: 0.5rem;
    }
  }
}

