<form class="form add-run" [formGroup]="runForm" (ngSubmit)="addRun()">
  <div class="form__group">
    <label for="time">Czas (w sekundach oO)</label>
    <input type="number" id="time" class="form__input" name="time" formControlName="time">
  </div>

  <div class="form__group">
    <label for="distance">Dystans</label>
    <input type="number" name="distance" id="distance" class="form__input" formControlName="distance" placeholder="km">
  </div>

  <div class="form__group">
    <label for="weather">Pogoda</label>
    <select name="" id="weather" formArrayName="weather">
      <option value="1">Słonecznie</option>
    </select>
  </div>

  <footer class="form__footer add-run__footer">
    <button mat-button color="primary" >Zapisz bieg</button>
  </footer>

  <img class="add-run__image" src="assets/images/run.gif" alt="">


</form>
<div class="add-run__footer">
  <button (click)="startRun()" *ngIf="!sending" mat-button color="primary"><mat-icon>location_on</mat-icon>Turn on gps</button>
  <button (click)="stopRun()" *ngIf="sending"  mat-button color="secondary"><mat-icon>location_off</mat-icon>Turn off gps</button>
  <a routerLink="/dashboard/map" mat-raised-button><mat-icon>explore</mat-icon>map</a>
</div>

<section class="run-component">

</section>
