.toolbar {
  padding-left: 0;

  &__back {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 1px dashed #fff;
    margin-right: 12px;
    display: grid;
    place-items: center;
  }

  &__title {
    display: flex;
    flex: 1 1 auto;
    font-weight: 400;

  }
}

@media screen and (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }
}
