@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-orange, 500, 100, 900);
$angular-accent: mat-palette($mat-teal, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
$angular-light-theme: mat-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

body {
  max-width: 400px;
  overflow: hidden;
  width: 100%;
  margin: auto;

  &, &.theme-dark {
    @include angular-material-theme($angular-dark-theme);
    --body-background-color: #222433;
    //--font-color: rgb(228, 230, 235);
    --font-color: rgba(255, 255, 255, 0.7);
    --popup-background-color: #292c31;
    --overlay-background-color: rgba(0, 0, 0, 0.6);
    --primary-color: #1A1B1F;
    --accent-color: #ff9800;
  }

  &.theme-light {
    @include angular-material-theme($angular-light-theme);
    --body-background-color: #fff;
    --font-color: #18191a;
    --popup-background-color: #dedede;
    --overlay-background-color: rgba(0, 0, 0, 0.6);
    --primary-color: #f1f1f1;
    --accent-color: #ff9800;
  }
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--body-background-color);
}

a {
  color: map-get($angular-primary, 500);
  text-decoratioN: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: var(--font-color);
}

.standard-page {
  padding: 1rem 1rem calc(88px + 0.5rem) 1rem;
  height: 100%;

}

.loader-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.warn {
  color: red;
}

.select {
  &--full {
    display: block;
    width: 100%;
  }
}

*:focus,
*:active {
  outline: none !important;
}


.app-bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

// override angular material styles
body {
  max-height: 100vh;

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
  }

  .mat-menu-item,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 0;

    &::first-letter {
      text-transform: uppercase !important;
    }
  }

  .mat-input-element {
    color: var(--font-color);
  }

  .mat-button span.mat-button-wrapper {

  }

  .mat-toolbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }

  .toolbar {
    padding-left: 0 !important;

    &__back {
      width: 48px;
      height: 48px;
      background-color: rgba(0, 0, 0, 0.1);
      margin-right: 12px;
      display: grid;
      place-items: center;
      font-weight: 100;
    }

    &__title {
      display: flex;
      flex: 1 1 auto;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100vw - 100px);
        font-size: 18px;
        font-weight: 100;
      }
    }
  }

  @media screen and (max-width: 599px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
      height: 48px;
    }
  }
}

.empty-results {
  color: #a1a7ab;
  font-size: 14px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  width: 320px;
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
    margin-right: 0;
  }

  p {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    .mat-icon {
      margin-right: 1rem;
    }
  }
}

.full-width-input {
  display: block;
  width: 100%;
}

.training-time {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  margin-top: -1rem;
  opacity: 0.7;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  .mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 0.25rem;
    position: relative;
    top: 2px;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
