@import '@angular/material/theming';

.toolbar {
  background-color: var(--primary-color);
  color: #fff;
}

.add-training-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.show-stats-button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

.dashboard-container {
  height: 100%;

  app-bottom-nav button,
  app-bottom-nav a {
    width: 42px;
    height: 42px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: var(--accent-color);
  }
}

.slide-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 74px;
  background-color: var(--primary-color);

  button,
  a,
  &__button,
  &__toggle {
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: var(--accent-color);

    img {
      height: 42px;
      width: 42px;
      border-radius: 50%;
    }

    .mat-slide-toggle {
      margin-bottom: 0.25rem;
    }

    .mat-icon {
      margin-bottom: 0.25rem;
      color: var(--accent-color);
    }

    &--bug {
      color: var(--font-color) !important;

      .mat-icon {
        color: var(--font-color) !important;
      }
    }

    span {
      font-size: 12px;
    }
  }
}

.main-content {
  display: block;
  height: 100%;
}

// !todo move it to another, superduper primary
.dashboard__menu-button--current {
  background-color: rgba(0, 0, 0, 0.1) !important
}
