<mat-drawer-container class="dashboard-container" hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <nav class="slide-nav">
      <button mat-ripple (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'LOGOUT' | translate }}</span>
      </button>
      <button mat-ripple>
        <img [src]="USER_IMAGE" alt="">
      </button>

    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-stats [ngClass]="{'displayed' : showStats }"></app-stats>
    <router-outlet></router-outlet>
    <app-bottom-nav
      (darkModeSwitched)="switchMode($event)"
      [isDarkMode]="isDarkMode">
      <button (click)="showStats = !showStats" matRipple>
        <mat-icon>assessment</mat-icon>
      </button>
      <button class="dashboard__menu-button" [matMenuTriggerFor]="menu" matRipple>
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let lang of translate.getLangs()">
          <button mat-menu-item (click)="changeLang(lang)"
                  [ngClass]="{'dashboard__menu-button--current' : lang === translate.currentLang}">
            <span>{{ lang }}</span>
          </button>
        </ng-container>
      </mat-menu>

      <button class="dashboard__menu-button" (click)="drawer.toggle()" matRipple>
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>

    </app-bottom-nav>

  </mat-drawer-content>
</mat-drawer-container>





