:host {
  --primary-color: #292c31;
  --accent-color: #ff582d;
}

.toolbar {
  background-color: var(--primary-color);
  color: #fff;
}

.add-training-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
.show-stats-button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}
