
<mat-drawer-container class="dashboard-container" hasBackdrop="true">
  <mat-drawer #drawer mode="push" position="end">
    <nav class="slide-nav">

      <a href="https://open.spotify.com/playlist/6yyK21j1g5HHvHBh8SdaUl?si=252a0016991541dd" target="_blank" matRipple>
        <mat-icon>headphones</mat-icon>
        <span>Muzyka</span>
      </a>

      <button class="slide-nav__button slide-nav__button--bug"  mat-ripple>
        <mat-icon>bug_report</mat-icon>
        <span>Zgłoś błąd</span>
      </button>

      <button matRipple (click)="drawer.close()" routerLink="settings">
        <mat-icon>settings</mat-icon>
        <span>Ustawienia</span>
      </button>
      <div class="slide-nav__toggle">
        <mat-slide-toggle
          color="primary"
          [checked]="isDarkMode"
          (change)="onDarkModeSwitched($event)"
        ></mat-slide-toggle>
        <span>Tryb ciemny</span>
      </div>
      <button [matMenuTriggerFor]="menu" matRipple>
        <mat-icon>language</mat-icon>
        <span>Język</span>
      </button>

      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let lang of translate.getLangs()">
          <button mat-menu-item (click)="changeLang(lang)"
                  [ngClass]="{'dashboard__menu-button--current' : lang === translate.currentLang}">
            <span>{{ lang }}</span>
          </button>
        </ng-container>
      </mat-menu>

      <button mat-ripple (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'LOGOUT' | translate }}</span>
      </button>
      <button (click)="drawer.toggle()" matRipple>
        <mat-icon>close</mat-icon>
      </button>

    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-bottom-nav (notify)="toggleStatsSection($event)"  (swipe)="onSwipe($event)">
      <button class="dashboard__menu-button" (click)="drawer.toggle()" matRipple>
        <mat-icon>menu</mat-icon>
      </button>
    </app-bottom-nav>

  </mat-drawer-content>
</mat-drawer-container>





