<mat-drawer-container class="dashboard-container" hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <nav class="slide-nav">
      <button mat-ripple (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Wyloguj</span>
      </button>
      <button mat-ripple>
        <img [src]="USER_IMAGE" alt="">
      </button>

    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <app-bottom-nav
      (darkModeSwitched)="switchMode($event)"
      [isDarkMode]="isDarkMode">
      <button class="dashboard__menu-button"  (click)="drawer.toggle()" matRipple>
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>
    </app-bottom-nav>

  </mat-drawer-content>
</mat-drawer-container>





